.App {
  text-align: center;
  /* background-color: #5cd65c; */
}

body {
  background-color: #e6ffe6;
}

@media (prefers-reduced-motion: no-preference) {

}





/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
